<h1>Delete Product</h1>
<p>Are you sure you want to delete this product?</p>

<ul>
    <li>Name: <%= @product.name %></li>
    <li>Content: <%= @product.content %></li>
    <li>Quantity: <%= @product.quantity %></li>
    <li>Price: <%= number_to_currency(@product.price, unit: "₱") %></li>
    <li>Available: <%= @product.available ? 'Yes' : 'No' %></li>
    <li>Released At: <%= @product.released_at.strftime("%B %d, %Y") %></li>
    <li>Discount: <%= @product.discount %> %</li>
    <li>Created At: <%= @product.created_at.strftime("%B %d, %Y %H:%M") %></li>
    <li>Updated At: <%= @product.updated_at.strftime("%B %d, %Y %H:%M") %></li>
    <% if @product.image.present? %>
    <li>Image: <%= image_tag @product.image %></li>
    <% end %>
</ul>
